.productCard{
 border-radius: 0px;
border: none;
}

.Card.Title{
    color: black;
    background-color: white;
    height: fit-content;
}

.productName{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    width: fit-content;
}

.productPrice {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    width: fit-content;
    
}   

.cardRow{
    align-content: center;
}

.cardButton{
    background-color: salmon;
    width: auto;
    border: none;
    
}

.cardButton:hover{
    background-color: salmon;
    width: auto;
    border: none;
    
}