.productCard{
 border-radius: 0px;
border: none;
}

.Card.Title{
    color: black;
    background-color: white;
    height: fit-content;
}

.productName{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    width: fit-content;
}

.cardRow{
    align-content: center;
}

.cardOpts{
    background-color: rgba(250, 128, 114, 0.714);
}

.addToCart{
    width: 150px;
    background-color: salmon;

}

.viewDetails{
    width:150px;
    background-color: salmon;
}