/* .hero{
   margin-bottom: none;

} */

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0
  }

.CategoryBar {


}

.SearchComp{


}
    
.grid{
    margin-top: 15px;

}

.FootNav{
 
    
}
