
/* These are the footer styles - here is where you change 
colors for the background, fonts, and font colors.  */

.footerContainer{
    background-color: #666666;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
}

.contact{
align-content: left;
}
.contact:hover{
    color: salmon;
    align-content: left;
    }

.footlogo{
margin: 0px, auto;
padding-left: 100px;
}

.sociallink{
text-align: right;
}

.sociallink:hover{
    text-align: right;
    color: salmon;
    }