.searchComp{
    margin: 20px;
}

.column{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dropd{
    background-color: salmon;
    color: blanchedalmond;
    border: none;
    width: 175px;
}

@media screen and (max-width: 767px){
    .dropd {
        width: max-content;
    }

}

.dropd:hover{
    background-color:#396b87 ;
    color: #6ecfcc;
}