.searchComp{
    margin: 20px;
}

.column{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dropd{
    background-color: #ebebeb;
    color: black;
    border: none;
    border-radius: 0px;
    margin: 0px, 0px;
    padding: 10px, 10px;
    width: 80%;
    /* height: 100%; */
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
    margin-bottom: 25px;
}

@media screen and (max-width: 767px){
    .dropd {
        width: max-content;
    }

}

.dropd:hover{
    background-color:#396b87 ;
    color: #6ecfcc;
}