.sort-filter{
    padding-left:25px;
    background-color: aquamarine;
    height: 150px;
}

.searchFilterSort{
    height: 100px;
    width: 80%;
    display: flex;
}

.searchBar{
    display: inline;
    background-color: aquamarine;

}