.hero{
    height: 350px;
    margin-bottom: 0px;
    text-align: center;
    align-content: center;
    justify-items: center;
    /* change your gradient by editing the two colors in parentheses, or add your own image:  */
    /* background-image: linear-gradient( #6e6c80, white); */
    /* background-color: white; */
}
.CategoryHero{
    height: 350px;
    margin-bottom: 0px;
    text-align: center;
    align-content: center;
    justify-items: center;
    /* change your gradient by editing the two colors in parentheses, or add your own image:  */
    /* background-image: linear-gradient( #716d9a, white);
    background-color: white; */
}

/* .pageTitle{
    change page title color and font size here!
    color: white;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
} */

@media only screen and (max-width: 600px) {
    .pageTitle{
        font-size: 56px;
        margin-top: 15px;
    }

    .CategoryHero{
        height: fit-content;
    }
}

.details{
     /* change hero details color and font size here! */
    /* font-size: 26px;
    color: black; */
} 


.collectionButton{
    /* change main hero button color and font size here! */
    /* background-color: #42404f; */
    border: none;
    border-radius: 0px;
}

/* .collectionButton:hover{
    background-color:#aca6db ;
    color: #42404f;

} */

.btnText{
    text-decoration: none;
    /* color: white; */
}